wwwroot/*.js
node_modules
typings
dist
openapi.out
todo.txt
minimal*.json
testing/models
testing/*.jar
testing/o*.json
testing/*.ts
testing/.openapi-generator
testing/apis
testing/.openapi-generator-ignore

